<!-- EACH COMMENT UNDER A PARTICULAR POST -->
<li  id = "comment-<%=x._id%>"style="display: flex;flex-direction: column;list-style:none;"> 

  
<!-- TODO ::: TWO PEOPLE CAN HAVE SAME NAME AS WELL -->
<%if(locals.user.name === x.user.name){%>
   
   
    <div class="p-2 my-2 "
        style="display :flex;justify-content : space-between; align-self : flex-end; margin-bottom : 20px;border-radius : 15px;font-size: 15px; height: auto; width: 80%; background-color: #dae9ff;">
       
        <div>
            <span>
                <!-- src="<%=locals.user.avatar%>" -->
                <img src = "/cs/d1.jpg" style = "width: 2.1rem; height: 2.1rem;margin: -0.4em;margin-right: 0.2em;border-radius: 50%;" >
            </span>
            <span class="badge bg-primary text-end">
                <%=locals.user.name%> commented!
            </span>
            <%= x.content%></div>
        <div style = "text-align : end">
          
           <!-- DELETING THE PARTICULAR COMMENT BY SENDING ID -->
            <a class="delete-comment-button" href="/comments/destroy/<%= x._id %>" style = "background-color: #dae9ff; width: 0; height: 0;color: #dae9ff;"> 
                ⛔️
                </a>
            </div>  
            
             <!-- CHANGE :: display the likes of this comment, if the user is logged in, then show the link to toggle likes, else, just show the count -->
            <!-- study about the data attribute -->
            <small>
                <% if (locals.user){ %>
                    <a class="toggle-like-button" data-likes="<%= x.likes.length %>" href="/likes/toggle/?id=<%=x._id%>&type=Comment">
                            <%= x.likes.length %> Likes
                    </a>
                <% }else{ %>
                    <%= x.likes.length %> Likes
                <% } %>
            </small>
        </div>
   
    <span style="margin-right: 20px;font-size: small;text-align: end;color: grey;">
        <%=x.user.createdAt%>
    </span>
    <%}else{%>
        <div class="p-2 my-2 "
            style="display :flex;justify-content : space-between;margin-bottom : 20px;border-radius : 15px;font-size: 15px; height: auto; width: 80%; background-color: rgb(235, 231, 231);">
           <div> 

            <span>
                <!-- src="<%=x.user.avatar%>" -->
                <img src = "/cs/d2.jpg"style = "width: 2.1rem; height: 2.1rem;margin: -0.4em;margin-right: 0.2em;border-radius: 50%;">
            </span>
            <span class="badge bg-primary text-end">
                <%=x.user.name%> commented!
            </span>
            <%= x.content%>
           </div>
           
            <!-- CHANGE :: display the likes of this comment, if the user is logged in, then show the link to toggle likes, else, just show the count -->
            <!-- study about the data attribute -->
            <small>
                <% if (locals.user){ %>
                    <a class="toggle-like-button" data-likes="<%= x.likes.length %>" href="/likes/toggle/?id=<%=x._id%>&type=Comment">
                            <%= x.likes.length %> Likes
                    </a>
                <% }else{ %>
                    <%= x.likes.length %> Likes
                <% } %>
            </small>
         
              </div>  
        
        <span style="margin-right: 20px;font-size: small; color: grey;">
            <%=x.user.createdAt%>
        </span>
        <%}%>
    </li>

 