
   <!-- <hr style="color: white; height: 1px;"> -->
    <div class="card bg-dark my-0" >
        <h5 class="card-header bg-dark text-white d-flex" style="font-weight: bolder;">
            <div style="flex-grow: 1;">
                <%=p.user.name%> 🤵 posted this..
            </div>

           <!-- CHANGE :: display the likes of this post, if the user is logged in, then show the link to toggle likes, else, just show the count --> 
        <!-- study about the data attribute -->
    <small>
        <% if (locals.user){ %>
            <a class="toggle-like-button" data-likes="<%= p.likes.length %>" href="/likes/toggle/?id=<%=p._id%>&type=Post">
                    <%= p.likes.length %> Likes
            </a>
        <% }else{ %>
            <%= p.likes.length %> Likes
        <% } %>
    </small>

            <%if(locals.user && locals.user.id==p.user.id){%>    

                <!-- DELETE A POST / THROUGH POST ID WE CAN DO THAT -->
                <a class = "delete-post-button" href="/posts/distroy/<%= p._id %>">
                    <div class="badge bg-danger">Delete</div>
                </a>
                <%}%>
        </h5>
        <div class="card-body" style="border : none;background-color: black;">

            <p class="card-text " style=" color: white;">
                <%= p.content%>
            </p>
        </div>
    </div>

    <%if(locals.user){%>
        <div class="comment-box my-2" style="width: 100%; padding: 0px;">
            
            <!-- changed id of this ** -->

            <!-- CREATE A COMMENT UNDER A PARTICULAR POST / POST-SMETHOD -->
            <form id="post-<%= p._id %>-comments-form" action="/comments/create" method="POST" style="display: flex;justify-content: space-around;margin-top: 20px;"> 
                <input type="text" name="content" placeholder="🚀 Tweet your reply" width="100%" class="form-control "
                  style="background-color: black;color: white;border: none;border: none;box-shadow: none;line-height: 0.8;font-size: 20px;"  required>
               
                <!-- SENDING THE POST ID IN THE FORM CONTENT ITSELF -->
                  <input type="hidden" name="post" value="<%=p._id%>" required>
                <input type="submit" style="border-radius: 25px;border:none;padding: 0.2rem; width: 95px; "
                    class="bg-primary text-white "  value="Reply">

                   
            </form>
            <hr style="width: 100%;color: white;margin-top: 2px;">
          
            <%if(p.comments.length !==0){%>
               
                <div style="font-size: 15px;color: #b9b6b6;padding : -1rem" class="mx-1">Relevant Comments</div>
                <hr style="color: white; height: 1px;">
                <%}%>
                    
                <!-- COMMENT BOX OF EACH POST -->
                    <ul id="post-comments-<%= p._id %>" style="display: flex; width: 100%;flex-direction: column;list-style: none;padding: 0;margin : 0;">
                        <%for(x of p.comments){%>
                            
                           
                            <%- include('_comments') -%>
                           
                                
                           

                            <%}%>
                        </ul>

        </div>
        <%}%>
        <!-- <hr style="color: white; height: 1px;"> -->


