<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<div id="box">


    <section id="user-section" style="position: fixed;" >

         <ul>
           
             <li>
                <i class="fas fa-home"></i>
                <b><a href="#" style="text-decoration: none;color:white">Home</a></b>
             </li>
             
             <li>
                <i class="far fa-address-card"></i>
               <span>Profile</span> 
            </li>

             <li>
                <i class="fas fa-mail-bulk"></i>
                 <span>Posts</span>
             </li>

             <li>
                <i class="fas fa-users"></i>
                 <span>Friends</span>
             </li>

             <li>
                 <div id="tweet" class="bg-primary">
                     <b>Tweet</b>
                 </div>
             </li>
         </ul>

         <ul style="margin-top: 6rem;">
             <%if(locals.user){%>
             <li>
                <i class="far fa-user" style="margin-left: -35px;"></i>
                 <span style="color: white;"><%= user.name%></span><br>
                 <span style="color: gray;"><%= user.email%></span>
            </li>

            <li>
                <div id="tweet"  style = "width: 130px; margin : auto" class="bg-primary">
                    <b><a href="/users/signout" style="text-decoration: none;color:white">Sign Out</a></b>
                </div>
             </li>

             
            
             <%}else{%>
           
             <li>
                <div id="tweet" style = "width: 130px;margin : auto" class="bg-primary">
                    <b><a href="/users/signin" style="text-decoration: none;color:white">Sign In</a></b>
                </div>
             </li>
             
             <li>
                <div id="tweet"  style = "width: 130px; margin : auto" class="bg-primary">
                    <b><a href="/users/signup" style="text-decoration: none;color:white">Sign Up</a></b>
                </div>
             </li>
            <%}%>

         </ul>
    </section>

    <!-- margin-left: 250px; -->
<section id="feed-posts" style="margin-left : 250px;min-width: 712px;border-right: 1px solid grey;">

    <h4 style="color: white; margin-top: 20px;">Home</h4>
     <hr style="color: white; height: 1px;">
    <%if(locals.user){%>
        <!-- Input the post form -->
        <form id = "new-post-form" action="/posts/new" method="POST" style="text-align: start;margin-left: 3rem;display: flex;justify-content: space-around;">
            
            <input placeholder="🤔 What's happening" name="content" style="justify-self : start;flex-grow : 1;background-color: black;color: grey;line-height: 2;font-size: 24px;border: none;outline: none;">
            <input type="submit"  value="Tweet" class="bg-primary" style="margin-right : 5rem;margin-left : 1.5rem;font-size : 16px;color:white;font-weight : bolder;width: 90px;padding: 0.5rem;border-radius: 25px;border: none;outline: none;">

        </form>
        <hr style="color: white; height: 1px;">
        <!-- end -->
        <%}%>

            <div>
                <!-- post feed starts here -->
                <ul id = "post-list" style="list-style: none; text-align: left; margin: 0; padding: 0;">
                    <%for(p of post){%>
                         
<li
id = "post-<%=p._id%>" class="" style="margin: 35px; margin-bottom: 0px;  background-color: black;">
<hr style="color: white; height: 1px;margin-left: -35px;margin-right: -35px;">  
                        <%- include('_post') -%>
                        <hr style="color: white; height: 1px;margin-left: -35px;margin-right: -35px;">
                    </li> 
                       
                        <%}%>
                </ul>
                <!-- post feed ends here -->
            </div>
             
          
           <!-- // <div style="border-right: 1px solid grey;height: 100%;position: fixed; margin-left: 992px;"></div> -->


        </section>
<!-- <div style="border-right: 1px solid grey;height: 100%;position: fixed; margin-left: 992px;"></div> -->
<section id="friends-list" style="position : fixed;margin-left: 960px;">
   
        <!-- display of friends -->
        <h4 style="font-weight: bolder;text-align: center;color: lightgrey;margin-left: 2rem;">VIEW FRIENDS</h4>

        <ul style="list-style-type: none;">

            <%for(f of p_user){%>
            <li style="margin-bottom: 2rem;">
                <a href="/users/profile/<%= f.id%>" style="color: white;text-decoration: none;"><%= f.name%></a>
                <div style="color: grey;"><%= f.email%></div>
            </li>
            <%}%>
        </ul>
</section>

</div>
<script src="/js/home_com.js" ></script>
<script src="/js/home_posts.js"></script>
