<h1>Social Media Clone / <%= title %>
</h1>

<ul class="fw-5 text-start list-style-none">
    <li>This site <b>(AMAZON CLONE)</b> still under contruction</li>
    <li>If u have account , you can go to sign in page direclty following the link
        <a href="http://localhost:8000/users/signin">Sign In</a>
    </li>
    <li>If u dont have account , you can go to signup page following this link
        <a href="http://localhost:8000/users/signup">Sign Up</a>
    </li>

    <li>
        If You have signin in then you can go to profile page following this link
        <a href="http://localhost:8000/users/profile">User Profile</a>
    </li>
</ul>

<br>
<br>

<section id="feed-posts">

    <h2>FEED POSTS</h2>

    <%if(locals.user){%>
        <form action="/posts/new" method="POST" style="text-align: start;margin-left: 3rem;">

            <textarea name="textarea" rows="3" cols="30" placeholder="Write Something here....."
                name="content"></textarea>
            <input type="submit" placeholder="Post it!" value="Post">
        </form>

        <%}%>

            <div>
                <ul style="list-style: none; text-align: left; margin: 0; padding: 0;">
                    <%for(p of post){%>

                        <li
                            style="margin: 60px ;  background-color: rgb(255, 255, 255);box-shadow: 0px 0px 6px 4px rgb(224, 224, 224);min-height: 160px;">
                            <div class="card">
                                <h5 class="card-header  bg-primary text-white " style="font-weight: bolder;">
                                    <%=p.user.name%> posted this..
                                </h5>
                                <div class="card-body" style="background-color: #dae9ff;">

                                    <p class="card-text " style="font-weight: bold;">
                                        <%= p.content%>
                                    </p>
                                </div>
                            </div>

                            <%if(locals.user){%>
                                <div class="comment-box my-2" style="width: 100%; padding: 12px;">

                                    <form action="/comments/create" method="POST">
                                        <input type="text" name="content" placeholder="write comment on this"
                                            width="80%" class="form-control " required>
                                        <input type="hidden" name="post" value="<%=p._id%>" required>
                                        <input type="submit" style="border-radius: 25px;border:none;"
                                            class="bg-primary text-white my-2 mx-1 p-1" placeholder="comment it">
                                    </form>

                                    <%if(p.comments.length !==0){%>
                                        <hr>
                                        <div style="font-size: 15px;" class="mx-1">Relevant Comments</div>
                                        <hr>
                                        <%}%>

                                            <div style="display: flex; width: 100%;flex-direction: column;">
                                                <%for(x of p.comments){%>

                                                    <%if(x.user.email===locals.user.email){%>
                                                        <p class="p-2 my-2 "
                                                            style="align-self : flex-end; margin-bottom : 20px;border-radius : 15px;font-size: 15px; height: auto; width: 80%; background-color: lightgrey;">
                                                            <%= x.content%>
                                                                <span class="badge bg-primary text-end">
                                                                    <%=x.user.name%> commented!
                                                                </span>
                                                                <span style = "margin-right: 20px;font-size: xx-small;">
                                                                      <%=x.user.createdAt%>
                                                                </span>
                                                        </p>
                                                        <%}else{%>
                                                            <p class="p-2 my-2 "
                                                                style="margin-bottom : 20px;border-radius : 15px;font-size: 15px; height: auto; width: 80%; background-color: rgb(235, 231, 231);">
                                                                <%= x.content%>
                                                                    <span class="badge bg-primary text-end">
                                                                        <%=x.user.name%> commented!
                                                                    </span>
                                                                    <span style = "margin-right: 20px;font-size: xx-small;">
                                                                        <%=x.user.createdAt%>
                                                                  </span>
                                                            </p>
                                                            <%}%>

                                                                <%}%>
                                            </div>

                                </div>
                                <%}%>
                        </li>
                        <%}%>
                </ul>
            </div>
</section>