 <!-- <link rel="stylesheet" href="/css/user_profile.css"> -->
 <link rel="stylesheet" href="<%= assetPath('/css/user_profile.css') %>">

 
 <h1 style="color:whitesmoke">Profile</h1>
 <hr style="background-color: whitesmoke; height: 6px;">
<a href="/">
 <span style="position :fixed; background-color: rgb(60, 216, 60);top : 25%; left : 0;font-weight: bolder;color: white;padding: 6px;border-radius: 0px 12px 12px 0px;">
     Back to Home
 </span></a>
  <div style="display: flex;margin: 70px;color: whitesmoke;justify-content: space-around;">
 <!-- use in index.js also <-- uploads folder -->


<%if(user_profile.id == locals.user.id){%>

  <!-- 16 -> src="<%=user_profile.avatar%>" -->
  
  <!-- 16 -> multer for avatar use enctype -->
  <!-- npm install multer -->
  <form  action="/users/update/<%= user_profile.id %>" enctype="multipart/form-data" method="POST" >
     
    <div class = "card" style="display: flex;flex-direction: column; justify-content: space-between;">
      <h2 style="text-align : center;color: black;">Profile Info</h2> 
      <input style = "margin: 12px;"type="text" name="name" value="<%= locals.user.name%>" placeholder="write name">
       <input style = "margin: 12px;"type="email" name="email" value="<%= locals.user.email%>" placeholder="write email">
       <!-- <input style = "margin: 12px;"type="file" name = "avatar" placeholder="Profile Picture"> -->
       <input style = "margin: 12px;"type="submit" value="update">
    </div>
  </form>
<%}else{%>
  <!-- <img style = "box-shadow: 0px 0px 4px 4px rgb(255 130 159);border: 10px solid blanchedalmond; border-radius: 25px;width: 16rem;height: 17rem;"src="<%=user_profile.avatar%>" alt="<%=user_profile.name %>"> -->
  <div class = "card" style="display: flex;flex-direction: column; justify-content: space-between;color: black;">
    <h2 style="text-align : center;color: black;">Profile Info</h2> 
  <hr>
  <h1><%=user_profile.name%></h1>
  <h1><%=user_profile.email%></h1>
  <hr> 
  </div> 
<%}%>
</div>
 <!-- <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="/images/d1.PNG" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/images/d2.PNG" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/images/d3.PNG" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="my-2" style="background-color: cornsilk;">
 <div class="container-fluid my-3"  style="background-color: white;">
      <h3 class="text-start">Up to 70% off | For your exercise & earphone needs</h3>
    <div class="" style="width: 18rem;display: inline-block;">
        <img src="/images/c1.PNG" class="card-img-top" alt="..."  height = "235" width = "5">
        <div class="card-body text-start">
          <p class="card-text text-start" style="font-size: 16px;line-height: 1.3;">QUX® Resistance Exercise Bands with Door Anchor, Handles, Waterproof Carry Bag, Legs Ankle Straps for Resistance Training</p>
          <span><span style="color: #0F1111;font-size: 15px;">M.R.P.:</span><span  style="color: #B12704;"><del>₹1,299.00</del></span>
            <span  style="color: #0F1111;font-size: 15px;">Price:</span>	<span  style="color: #B12704;">₹499.00</span><br>
            <span  style="color: #0F1111;font-size: 15px;">You Save:</span><span  style="color: #B12704;">₹800.00 (62%)</span>	<br>
            <span  style="color: #0F1111;font-size: 15px;">Inclusive of all taxes</span></span>
        </div>
      </div>

      <div class=" " style="width: 18rem;display: inline-block;">
        <img src="/images/c2.PNG" class="card-img-top" alt="..."  height = "235" width = "5">
        <div class="card-body text-start">
          <p class="card-text text-start" style="font-size: 16px;line-height: 1.3;">Kore PVC 16-30 Kg Home Gym Set with One 3 Ft Curl and One Pair Dumbbell Rods with Gym Accessories</p>
          <span><span style="color: #0F1111;font-size: 15px;">M.R.P.:</span><span  style="color: #B12704;"><del>₹4,090.00</del></span>
            <span  style="color: #0F1111;font-size: 15px;">Price:</span>	<span  style="color: #B12704;">₹1,299.00</span><br>
            <span  style="color: #0F1111;font-size: 15px;">You Save:</span><span  style="color: #B12704;">₹2,791.00 (68%)</span>	<br>
            <span  style="color: #0F1111;font-size: 15px;">Inclusive of all taxes</span></span>
        </div>
      </div>

      <div class="" style="width: 18rem; display: inline-block;">
        <img src="/images/c3.PNG" class="card-img-top" alt="..."  height = "235" width = "5">
        <div class="card-body text-start">
          <p class="card-text text-start" style="font-size: 16px;line-height: 1.3;">SPORTAL Air Bike Exercise Home Gym Cycle with Twister & Back Support for Cardio and Weight Loss</p>
          <span><span style="color: #0F1111;font-size: 15px;">M.R.P.:</span><span  style="color: #B12704;"><del>₹15,000.00</del></span>
            <span  style="color: #0F1111;font-size: 15px;">Price:</span>	<span  style="color: #B12704;">₹7,499.00</span><br>
            <span  style="color: #0F1111;font-size: 15px;">You Save:</span><span  style="color: #B12704;">₹7,501.00 (50%)</span>	<br>
            <span  style="color: #0F1111;font-size: 15px;">Inclusive of all taxes</span></span>
        </div>
      </div>

      <div class="" style="width: 18rem; display: inline-block;">
        <img src="/images/c4.PNG" class="card-img-top" alt="..."  height = "235" width = "5">
        <div class="card-body text-start">
          <p class="card-text text-start" style="font-size: 16px;line-height: 1.3;">Metallic Blue Square LED Multi-Functional Automatic Sports Watch for Men's Kids Watch for Boys, Girls, Women- Watch for Men led Digital Digital Watch </p>
          <span><span style="color: #0F1111;font-size: 15px;">M.R.P.:</span><span  style="color: #B12704;"><del>₹1,599.00</del></span>
            <span  style="color: #0F1111;font-size: 15px;">Price:</span>	<span  style="color: #B12704;">₹499.00</span><br>
            <span  style="color: #0F1111;font-size: 15px;">You Save:</span><span  style="color: #B12704;">₹1100.00 (62%)</span>	<br>
            <span  style="color: #0F1111;font-size: 15px;">Inclusive of all taxes</span></span>
        </div>
      </div>

 </div>
 
 <div  class="container-fluid my-3"  style="background-color: white;">
    <h3 class="text-start">Explore Blockbusters Deals | Amazing Offers</h3>
  <div class="" style="width: 18rem;display: inline-block;">
    <img src="/images/b1.PNG" class="card-img-top" alt="..."  height = "235" width = "5">
    <div class="card-body">
      <p class="card-text text-start"><b>Up to 60% off | Electronics & accessories</b><br>
        <span style="font-size: 11px;color: rgb(67, 152, 155);">See all deals</span>
      </p>
    
    </div>
  </div>

  <div class="" style="width: 18rem;display: inline-block;">
    <img src="/images/b2.PNG" class="card-img-top" alt="..."  height = "235" width = "5">
    <div class="card-body">
      <p class="card-text text-start"><b>Up to 70% off | Latest styles for women</b><br>
        <span style="font-size: 11px;color: rgb(67, 152, 155);">See all deals</span>
      </p>
    </div>
  </div>

  <div class="" style="width: 18rem;display: inline-block;">
    <img src="/images/b3.PNG" class="card-img-top" alt="..."  height = "235" width = "5">
    <div class="card-body">
      <p class="card-text text-start"><b>Up to 70% off | Bestselling accessories & more</b><br>
        <span style="font-size: 11px;color: rgb(67, 152, 155);">See all deals</span>
      </p>
    </div>
  </div>

  <div class="" style="width: 18rem;display: inline-block;">
    <img src="/images/b4.PNG" class="card-img-top" alt="..."  height = "235" width = "5">
    <div class="card-body">
      <p class="card-text text-start"><b>Up to 80% off | Sarees for all occasions</b><br>
        <span style="font-size: 11px;color: rgb(67, 152, 155);">See all deals</span>
      </p>
    </div>
  </div>
 </div>

 <div class="container-fluid  my-3"  style="background-color: white;">
    <h3 class="text-start">5th-9th Aug | Great Freedom Festival</h3>
      <div class="" style="width: 18rem;display: inline-block;">
        <img src="/images/c22.PNG" class="card-img-top" alt="..."  height = "235" width = "5">
        <div class="card-body text-start">
          <p class="card-text text-start" style="font-size: 16px;line-height: 1.3;">SanDisk Ultra microSD UHS-I Card 128GB, 120MB/s R</p>
          <span><span style="color: #0F1111;font-size: 15px;">M.R.P.:</span><span  style="color: #B12704;"><del>₹1,299.00</del></span>
            <span  style="color: #0F1111;font-size: 15px;">Price:</span>	<span  style="color: #B12704;">₹499.00</span><br>
            <span  style="color: #0F1111;font-size: 15px;">You Save:</span><span  style="color: #B12704;">₹800.00 (62%)</span>	<br>
            <span  style="color: #0F1111;font-size: 15px;">Inclusive of all taxes</span></span>
        </div>
      </div>

      <div class="" style="width: 18rem;display: inline-block;">
        <img src="/images/c4.PNG" class="card-img-top" alt="..."  height = "235" width = "5">
        <div class="card-body text-start">
          <p class="card-text text-start" style="font-size: 16px;line-height: 1.3;">Fire-Boltt SpO2 Full Touch 1.4 inch Smart Watch 400 Nits Peak Brightness Metal Body 8 Days Battery Life with 24*7 Heart Rate monitoring IPX7 with Blood Oxygen</p>
          <span><span style="color: #0F1111;font-size: 15px;">M.R.P.:</span><span  style="color: #B12704;"><del>₹5,999.00</del></span>
            <span  style="color: #0F1111;font-size: 15px;">Price:</span>	<span  style="color: #B12704;">₹2,799.00</span><br>
            <span  style="color: #0F1111;font-size: 15px;">You Save:</span><span  style="color: #B12704;">₹3,200.00 (53%)</span>	<br>
            <span  style="color: #0F1111;font-size: 15px;">Inclusive of all taxes</span></span>
        </div>
      </div>

      <div class="" style="width: 18rem;display: inline-block;">
        <img src="/images/c5.PNG" class="card-img-top" alt="..."  height = "235" width = "5">
        <div class="card-body text-start">
          <p class="card-text text-start" style="font-size: 16px;line-height: 1.3;">OFIXO Multi-Purpose Laptop Table/Study Table/Bed Table/Foldable and Portable Wooden/Writing Desk (Wooden)</p>
          <span><span style="color: #0F1111;font-size: 15px;">M.R.P.:</span><span  style="color: #B12704;"><del>₹1,699.00</del></span>
            <span  style="color: #0F1111;font-size: 15px;">Price:</span>	<span  style="color: #B12704;">₹499.00</span><br>
            <span  style="color: #0F1111;font-size: 15px;">You Save:</span><span  style="color: #B12704;">₹1200.00 (62%)</span>	<br>
            <span  style="color: #0F1111;font-size: 15px;">Inclusive of all taxes</span></span>
        </div>
      </div>

      <div class="" style="width: 18rem;display: inline-block;">
        <img src="/images/c23.PNG" class="card-img-top" alt="..."  height = "235" width = "5">
        <div class="card-body text-start">
          <p class="card-text text-start" style="font-size: 16px;line-height: 1.3;">Zebronics Zeb-County Bluetooth Speaker with Built-in FM Radio, Aux Input and Call Function (Black)</p>
          <span><span style="color: #0F1111;font-size: 15px;">M.R.P.:</span><span  style="color: #B12704;"><del>₹999.00</del></span>
            <span  style="color: #0F1111;font-size: 15px;">Price:</span>	<span  style="color: #B12704;">₹519.00</span><br>
            <span  style="color: #0F1111;font-size: 15px;">You Save:</span><span  style="color: #B12704;">₹480.00 (48%)</span>	<br>
            <span  style="color: #0F1111;font-size: 15px;">Inclusive of all taxes</span></span>
        </div>
      </div>

 </div>

  <div class="container-fluid my-3"  style="background-color: white;">
    <h2 class="text-start">4+ star rated | Refurbished products</h2>
      
      <div class="" style="width: 18rem;display: inline-block;">
        <img src="/images/c7.PNG" class="card-img-top" alt="..." height = "235" width = "5">
        <div class="card-body text-start">
          <p class="card-text text-start" style="font-size: 16px;line-height: 1.3;">Sony WF-XB700 Extra Bass True Wireless (TWS) Bluetooth Earbuds with 18hrs Battery Life, Splash Proof, BT Ver 5.0, Quick Charge</p>
          <span><span style="color: #0F1111;font-size: 15px;">M.R.P.:</span><span  style="color: #B12704;"><del>₹11,990</del></span>
            <span  style="color: #0F1111;font-size: 15px;">Price:</span>	<span  style="color: #B12704;">₹6,990.00</span><br>
            <span  style="color: #0F1111;font-size: 15px;">You Save:</span><span  style="color: #B12704;">₹5000.00 (42%)</span>	<br>
            <span  style="color: #0F1111;font-size: 15px;">Inclusive of all taxes</span></span>
        </div>
      </div>

      <div class="" style="width: 18rem;display: inline-block;">
        <img src="/images/c8.PNG" class="card-img-top" alt="..."  height = "235" width = "5">
        <div class="card-body text-start">
          <p class="card-text text-start" style="font-size: 16px;line-height: 1.3;">LG Gram 17 Ultra-Light 11th Gen Core i5,8 GB RAM, 512 GB SSD, Win-10, Iris Xe Graphics</p>
          <span><span style="color: #0F1111;font-size: 15px;">M.R.P.:</span><span  style="color: #B12704;"><del>₹1,30,000</del></span>
            <span  style="color: #0F1111;font-size: 15px;">Price:</span>	<span  style="color: #B12704;">₹82,990</span><br>
            <span  style="color: #0F1111;font-size: 15px;">You Save:</span><span  style="color: #B12704;">₹47,010 (36%)</span>	<br>
            <span  style="color: #0F1111;font-size: 15px;">Inclusive of all taxes</span></span>
        </div>
      </div>

      <div class="" style="width: 18rem;display: inline-block; ">
        <img src="/images/c12.PNG" class="card-img-top" alt="..."  height = "235" width = "5">
        <div class="card-body text-start">
          <p class="card-text text-start" style="font-size: 16px;line-height: 1.3;">HP 15 AMD Athlon 15.6" (39.62cms) HD Laptop (Silver-3050U/4GB/1TB/Win 10/MS Office</p>
          <span><span style="color: #0F1111;font-size: 15px;">M.R.P.:</span><span  style="color: #B12704;"><del>₹29,632</del></span>
            <span  style="color: #0F1111;font-size: 15px;">Price:</span>	<span  style="color: #B12704;">₹29,590</span><br>
            <span  style="color: #0F1111;font-size: 15px;">You Save:</span><span  style="color: #B12704;">₹42 (10%)</span>	<br>
            <span  style="color: #0F1111;font-size: 15px;">Inclusive of all taxes</span></span>
        </div>
      </div>

      <div class="" style="width: 18rem;display: inline-block;">
        <img src="/images/c11.PNG" class="card-img-top" alt="..."  height = "235" width = "5">
        <div class="card-body text-start">
          <p class="card-text text-start" style="font-size: 16px;line-height: 1.3;">Dell Inspiron 3505 15.6" HD Display Laptop (Athlon Silver 3050U / 4GB / 256GB SSD</p>
          <span><span style="color: #0F1111;font-size: 15px;">M.R.P.:</span><span  style="color: #B12704;"><del>₹38,112</del></span>
            <span  style="color: #0F1111;font-size: 15px;">Price:</span>	<span  style="color: #B12704;">₹29,990</span><br>
            <span  style="color: #0F1111;font-size: 15px;">You Save:</span><span  style="color: #B12704;">₹8,122 (21%)</span>	<br>
            <span  style="color: #0F1111;font-size: 15px;">Inclusive of all taxes</span></span>
        </div>
      </div>
  </div>

     <div  class="container-fluid my-3"  style="background-color: white;">
            
          <img src="/images/p1.PNG"  width = "100%" alt="">
     </div>

     <div  class="container-fluid my-3"  style="background-color: white;">
      <h3 class = "text-start">Up to 80% off | Bestselling handbags and sling bags</h3>
      <div class="" style="width: 18rem;display: inline-block;">
        <img src="/images/l11.PNG" class="card-img-top" alt="..."  height = "235" width = "5">
        <div class="card-body text-start">
          <p class="card-text text-start" style="font-size: 16px;line-height: 1.3;">Le Platinum PU Leather Latest Trendy Fashion Ladies Handbag With Sling Bag & Clutch Combo 3pcs Purse Set</p>
          <span><span style="color: #0F1111;font-size: 15px;">M.R.P.:</span><span  style="color: #B12704;"><del>₹2,999.00</del></span>
            <span  style="color: #0F1111;font-size: 15px;">Price:</span>	<span  style="color: #B12704;">₹569.00</span><br>
            <span  style="color: #0F1111;font-size: 15px;">You Save:</span><span  style="color: #B12704;">₹2430.00 (81%)</span>	<br>
            <span  style="color: #0F1111;font-size: 15px;">Inclusive of all taxes</span></span>
        </div>
      </div>

      <div class="" style="width: 18rem;display: inline-block;">
        <img src="/images/l12.PNG" class="card-img-top" alt="..."  height = "235" width = "5">
        <div class="card-body text-start">
          <p class="card-text text-start" style="font-size: 16px;line-height: 1.3;">RASHKI UNICA Women Sling bag/Handbag Vegan Leather Tan</p>
          <span><span style="color: #0F1111;font-size: 15px;">M.R.P.:</span><span  style="color: #B12704;"><del>₹5,000.00</del></span>
            <span  style="color: #0F1111;font-size: 15px;">Price:</span>	<span  style="color: #B12704;">₹2,990.00</span><br>
            <span  style="color: #0F1111;font-size: 15px;">You Save:</span><span  style="color: #B12704;">₹2,010.00 (40%)</span>	<br>
            <span  style="color: #0F1111;font-size: 15px;">Inclusive of all taxes</span></span>
        </div>
      </div>

      <div class="" style="width: 18rem;display: inline-block;">
        <img src="/images/l13.PNG" class="card-img-top" alt="..."  height = "235" width = "5">
        <div class="card-body text-start">
          <p class="card-text text-start" style="font-size: 16px;line-height: 1.3;">ZOUK Office Bag for Women for 15.6 inch Laptop, Macbook - Handmade Vegan Leather Laptop Handbags for women (Mughal Motif)</p>
          <span><span style="color: #0F1111;font-size: 15px;">M.R.P.:</span><span  style="color: #B12704;"><del>₹3,450.00</del></span>
            <span  style="color: #0F1111;font-size: 15px;">Price:</span>	<span  style="color: #B12704;">₹1,899.00</span><br>
            <span  style="color: #0F1111;font-size: 15px;">You Save:</span><span  style="color: #B12704;">₹1,55,.00 (45%)</span>	<br>
            <span  style="color: #0F1111;font-size: 15px;">Inclusive of all taxes</span></span>
        </div>
      </div>

      <div class="" style="width: 18rem;display: inline-block;">
        <img src="/images/l14.PNG" class="card-img-top" alt="..."  height = "235" width = "5">
        <div class="card-body text-start">
          <p class="card-text text-start" style="font-size: 16px;line-height: 1.3;">Zouk Vegan Leather and Jute Ikat Arrow 15.6" Handbag/Laptop Bag & Mini Wallet (Set of 2)</p>
          <span><span style="color: #0F1111;font-size: 15px;">M.R.P.:</span><span  style="color: #B12704;"><del>₹3,500.00</del></span>
            <span  style="color: #0F1111;font-size: 15px;">Price:</span>	<span  style="color: #B12704;">₹2,699.00</span><br>
            <span  style="color: #0F1111;font-size: 15px;">You Save:</span><span  style="color: #B12704;">₹801.00 (23%)</span>	<br>
            <span  style="color: #0F1111;font-size: 15px;">Inclusive of all taxes</span></span>
        </div>
      </div>
     </div>


     <div  class="container-fluid my-3"  style="background-color: white;">
         <h2 class = "text-start" >Shop deals in top categories</h2>
      <div class="" style="width: 18rem;display: inline-block;">
        <img src="/images/k1.PNG" class="card-img-top" alt="..."  height = "235" width = "5">
        <div class="card-body">
         
        </div>
      </div>

      <div class="" style="width: 18rem;display: inline-block;">
        <img src="/images/k2.PNG" class="card-img-top" alt="..."  height = "235" width = "5">
        <div class="card-body">
         
        </div>
      </div>

      <div class="" style="width: 18rem;display: inline-block;">
        <img src="/images/k3.PNG" class="card-img-top" alt="..."  height = "235" width = "5">
        <div class="card-body">
       
        </div>
      </div>

      <div class="" style="width: 18rem;display: inline-block;">
        <img src="/images/k4.PNG" class="card-img-top" alt="..."  height = "235" width = "5">
        <div class="card-body">
        
        </div>
      </div>
     </div> 
</div>-->